.container {
  display: grid;
  gap: 42px;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.headline {
  margin-left: 8px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.section {
  display: grid;
  gap: 16px;
}
